header {
  background: #000000;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.header__wrapper {
  max-width: 1160px;
  width: 100%;
  height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
	align-items: center;
  margin: 0 auto;
}

.header__title {
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  position: relative;
  transition: 0.3s;
  width: 82px;
  height: 52px;
  text-align: center;
}

.header__title::after {
  content: url('../../assets/icons/bamboo.png');
  position: absolute;
  top: 24px;
  left: 10px;
}

.header__title:hover,
.header__title:focus {
  /* transform: scale(1.1); */
  transition: 0.3s;
}

.header__text {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2;
  margin-top: 2px;
  color: #FFFFFF;
}

.header__burger {
  flex: 1 1 auto;
}

.header__nav {
  flex: 1 1 auto;
  padding-left: 3px;
}

.header__list {
  display: flex;
  margin-left: 2px;
}

.header__item {
  margin-left: 58px;
}

.header__link,
.header__designed {
  display: block;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  transition: 0.3s;
  color: white;
}

.header__link:hover,
.header__link:focus,
.header__designed:hover,
.header__designed:focus {
  /* transform: scale(1.2); */
  transition: 0.3s;
  color: #FE9013;
}

.header__orange {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

.header__title-burger {
  position: fixed;
  z-index: 100;
  left: 15px;
  top: -539px;
  border: 0.8px solid #FE9013;
  border-radius: 2px;
  transition: 0.3s;
  width: 65.6px;
  height: 41.6px;
  text-align: center;
  transition: 0.4s all linear;
  /* display: none; */
}

.header__title-burger::after {
  content: url('../../assets/icons/bamboo-burger.png');
  position: absolute;
  top: 17px;
  left: 8px;
}

.header__text-burger {
  text-align: center;
  font-size: 0.851rem;
  line-height: 1.3;
  margin-top: 2px;
  color: #FE9013;
}

.header__burger_open {
  display: none;
  background: url('../../assets/icons/burger_menu_open.svg') no-repeat center;
  width: 18px;
  height: 10px;
  cursor: pointer;
  padding: 10px;
}

.header__burger_open:hover {
  background: url('../../assets/icons/burger_menu_open_hover.svg') no-repeat center;
  transition: all 0.4s ease;
}

.header__burger_open:active {
  background: url('../../assets/icons/burger_menu_open_active.svg') no-repeat center;
  transition: all 0.4s ease;
}

.header__burger_close {
  position: fixed;
  z-index: 100;
  right: 20px;
  top: -520px;
  background: url('../../assets/icons/burger_menu_close.svg') no-repeat center;
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: 0.4s all linear;
}

.header__burger_close:hover {
  background: url('../../assets/icons/burger_menu_close_hover.svg') no-repeat center;
  transition: all 0.4s ease;
}

.header__burger_close:active {
  background: url('../../assets/icons/burger_menu_close_active.svg') no-repeat center;
  transition: all 0.4s ease;
}

@media screen and (max-width: 1280px) {

  header {
    position: relative;
    z-index: 2;
  }

  .header__wrapper {
    padding: 0 30px;
    width: 100%;
  }

  .header__list {
    margin-left: 11px;
  }

  .header__item {
    margin-left: 48px;
  }

}

@media screen and (max-width: 999px) {

  .header__wrapper {
    padding: 0 20px;
    height: 34px;
  }

  .header__title {
    border: none;
    position: relative;
    width: 47px;
    height: 29px;
  }

  .header__title::after {
    content: url('../../assets/icons/bamboo_small.png');
    top: 12px;
    left: 4px;
  }

  .header__text {
    font-size: 0.768rem;
    text-align: center;
    margin: 0 auto;
  }

  .header__nav {
    padding-left: 0;
  }

  .header__item {
    margin-left: 30px;
  }

  .header__list {
    margin-left: 0;
  }
}

@media screen and (max-width: 640px) {

  header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .header__wrapper {
    padding: 0 20px;
  }

  .header__burger_open {
    display: block;
  }

}

@media screen and (max-width: 320px) {

  .header__wrapper {
    padding: 0 10px;
  }

}