.watch {
  height: 780px;
  background: url('../../assets/images/giant_panda.jpg') no-repeat center;
  background-size: cover;
  margin-top: -80px;
  padding-top: 80px;
}

.watch__inner {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

.watch__inner::before {
  content: "";
  position: absolute;
  width: 465px;
  height: 465px;
  left: calc(50% - 465px/2 + 239.5px);
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  top: 12px;
  left: 50.4%;
}

.watch__text {
  width: 500px;
  font-weight: 700;
  font-size: 6.66em;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  top: 85px;
  left: 56.9%;
}

.watch__text span {
  color: #FFEE2E;
}

.watch__button {
  width: 298px;
  height: 54px;
  background-color: #F9804B;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
	align-items: center;
  transition: all 0.4s ease;
  padding-left: 4px;
  position: relative;
  top: 146px;
  left: 65.8%;
}

.watch__button:hover {
  /* transform: scale(1.05); */
  background: #E47209;
  transition: all 0.4s ease;
}

.watch__button:active {
  /* transform: scale(1); */
  background: #4B9200;
  transition: all 0.4s ease;
}

.watch__button_backstage {
  display: none;
}

@media screen and (max-width: 1280px) {

  .watch {
    height: 584px;
  }

  .watch__inner {
    width: 940px;
  }

  .watch__inner::before {
    width: 367px;
    height: 367px;
    top: -11px;
    left: 45.4%;
  }

  .watch__text {
    font-size: 5.3125rem;
    top: 42px;
    left: 46.2%;
  }

  .watch__button {
    top: 84px;
    left: 56.8%;
  }
}

@media screen and (max-width: 999px) {

  .watch {
    height: 373px;
    margin-top: -34px;
    padding-top: 34px;
    overflow: hidden;
  }



  .watch__inner {
    width: 600px;
  }

  .watch__inner::before {
    width: 237.6px;
    height: 237.6px;
    top: 10px;
    left: 51.7%;
  }

  .watch__text {
    font-size: 3.393rem;
    top: 48px;
    left: 37.6%;
  }

  .watch__button {
    top: 42px;
    left: 0;
  }
}

@media screen and (max-width: 639px) {

  .watch {
    height: 187px;
    margin-top: 0;
    padding-top: 0;
  }

  .watch__inner {
    width: 320px;
  }

  .watch__inner::before {
    width: 119px;
    height: 119px;
    top: 22px;
    left: 163px;
  }

  .watch__text {
    font-size: 1.75rem;
    top: 41px;
    left: 86px;
    overflow: hidden;
    width: 320px;
  }

  .watch__button {
    display: none;
    position: unset;
  }

}