.pets {
  background-image: url('../../assets/images/palm_foto.jpg'), url('../../assets/images/strelitzia1.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;
  z-index: -1;
  padding-bottom: 100px;
  margin: 0 auto;
}

.pets__slider-wrapper {
  width: 1190px;
  overflow: hidden;
  margin: auto;
}

.pets__slider {
  padding-bottom: 60px;
  display: flex;
	justify-content: center;
	gap: 60px;
	position: relative;
	left: 0px;
  margin: auto;
}

.pets__wrapper,
.pets__wrapper_left,
.pets__wrapper_right {
  min-width: 1190px;
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
  margin: 0 -15px;
  margin: auto;
  position: relative;
}

.pets__cards {
  flex: 0 1 33.333%;
  padding: 0 15px;
  margin-bottom: 20px;
}

.pets__border {
  border-radius: 5px;
  border: 1px solid #FA6F32;
  border-image-slice: 1;
}

.pets__frame {
  overflow: hidden;
}

.pets__image {
  padding-bottom: 100%;
  transition: 0.7s;
}

.pets__image:hover {
  transform: scale(1.055);
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.pets__cards:hover .pets__title,
.pets__cards:hover .banana,
.pets__cards:hover .meat {
  transform: translateY(-150%);
  transition: 0.7s;
  color: #FFFFFF;
}

.pets__cards:hover .pets__title-wrapper {
  background: #00000050;
  transition: 0.7s;
  z-index: 10;
}

.pandas {
  background: url('../../assets/images/foto-card1-panda.jpg') no-repeat center;
  background-size: contain;
}

.eagles {
  background: url('../../assets/images/foto-card2-eagle.jpg') no-repeat center;
  background-size: contain;
}

.gorillas {
  background: url('../../assets/images/foto-card3-gorilla.jpg') no-repeat center;
  background-size: contain;
}

.alligators {
  background: url('../../assets/images/foto-card4-alligator.jpg') no-repeat center;
  background-size: contain;
}

.sloths {
  background: url('../../assets/images/foto-card5-sloth.jpg') no-repeat center;
  background-size: contain;
}

.cheetahs {
  background: url('../../assets/images/foto-card6-cheetah.jpg') no-repeat center;
  background-size: contain;
}

.penguins {
  background: url('../../assets/images/foto-card7-penguin.jpg') no-repeat center;
  background-size: contain;
}

.koalas {
  background: url('../../assets/images/foto-card8-koala.jpg') no-repeat center;
  background-size: contain;
}

.deers {
  background: url('../../assets/images/foto-card9-deer.jpg') no-repeat center;
  background-size: contain;
}

.wolves {
  background: url('../../assets/images/foto-card10-wolf.jpg') no-repeat center;
  background-size: contain;
}

.seals {
  background: url('../../assets/images/foto-card11-seal.jpg') no-repeat center;
  background-size: contain;
}

.kangaroos {
  background: url('../../assets/images/foto-card12-kangaroo.jpg') no-repeat center;
  background-size: contain;
}

.giraffes {
  background: url('../../assets/images/foto-card13-giraffe.jpg') no-repeat center;
  background-size: contain;
}

.bears {
  background: url('../../assets/images/foto-card14-bear.jpg') no-repeat center;
  background-size: contain;
}

.peacocks {
  background: url('../../assets/images/foto-card15-peacock.jpg') no-repeat center;
  background-size: contain;
}

.pets__title-wrapper {
  padding: 8px 10px 12px 15px;
  color: #000000;
  transition: 0.7s;
}

.pets__title-shadow {
  display: flex;
  justify-content: space-between;
}

.pets__title {
  transition: 0.7s;
}

.pets__name {
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: -1px;
}

.pets__place {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

.pets__place_alig_2 {
  display: none;
}

.pets__ico {
  width: 33px;
  height: 37px;
  transition: 0.7s;
}

.banana {
  background: url('../../assets/icons/banana-bamboo_icon.svg') no-repeat center;
  background-size: cover;
  width: 33px;
  height: 37px;
  transition: 0.7s;
}

.meat {
  background: url('../../assets/icons/meet-fish_icon.svg') no-repeat center;
  background-size: cover;
  width: 48px;
  height: 38px;
  transition: 0.7s;
}

.pets__inner {
  width: 1190px;
  position: relative;
  margin: auto;
}

.pets__arrow_left {
  position: absolute;
  background: url('../../assets/icons/pets_arrow-left.svg') no-repeat center center;
  left: -66px;
}

.pets__arrow_right {
  position: absolute;
  background: url('../../assets/icons/pets_arrow-right.svg') no-repeat center center;
  right: -64px;
}

.pets__arrow {
  background-color: #F9804B;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: -549px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.pets__arrow:hover {
  /* transform: scale(1.10); */
  background-color: #E47209;
  transition: all 0.4s ease;
}

.pets__arrow:active {
  /* transform: scale(1); */
  background-color: #4B9200;
  transition: all 0.4s ease;
}

.pets__button {
  width: 298px;
  height: 54px;
  background-color: #F9804B;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
	align-items: center;
  transition: 0.3s;
  margin: 0 auto;
}

.pets__button:hover {
  /* transform: scale(1.05); */
  background: #E47209;
  transition: all 0.4s ease;
}

.pets__button:active {
  /* transform: scale(1); */
  background: #4B9200;
  transition: all 0.4s ease;
}

@-webkit-keyframes move-right {
	to {
		left: -1250px;
	}
}

@keyframes move-right {
	to {
		left: -1250px;
	}
}

@-webkit-keyframes move-left {
	to {
		left: 1250px;
	}
}

@keyframes move-left {
	to {
		left: 1250px;
	}
}

.transition-right {
	-webkit-animation-name: move-right;
	animation-name: move-right;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}

.transition-left {
	-webkit-animation-name: move-left;
	animation-name: move-left;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}

@media screen and (max-width: 1440px) {

  .pets {
    background-image: url('../../assets/images/palm_foto_2.jpg'), url('../../assets/images/strelitzia1_2.jpg');
  }

  .pets__cards {
    margin-bottom: 94px;
  }

  .pets__arrow_left {
    left: 34.9%;
  }

  .pets__arrow_right {
    right: 34.8%;
  }

  .pets__arrow {
    top: -656px;
  }
}

@media screen and (max-width: 1280px) {

  .pets {
    padding-bottom: 140px;
  }

  .pets__slider-wrapper,
  .pets__inner {
    width: 970px;
  }

  .pets__wrapper,
  .pets__wrapper_left,
  .pets__wrapper_right {
    min-width: 970px;
  }

  .pets__slider {
    padding-bottom: 0;
    margin-bottom: -12px;
  }

  .pets__arrow {
    top: -512px;
  }

  @-webkit-keyframes move-right {
		to {
			left: -1030px;
		}
	}

  @keyframes move-right {
		to {
			left: -1030px;
		}
	}

	@-webkit-keyframes move-left {
		to {
			left: 1030px;
		}
	}

	@keyframes move-left {
		to {
			left: 1030px;
		}
	}

}

@media screen and (max-width: 999px) {

  .pets {
    background-image: url('../../assets/images/palm_foto_3.jpg'), url('../../assets/images/strelitzia1_2.jpg');
    background-size: 21%, 27%;
    padding-bottom: 80px;
  }

  .pets__slider-wrapper,
  .pets__inner {
    width: 640px;
  }

  .pets__wrapper,
  .pets__wrapper_left,
  .pets__wrapper_right {
    min-width: 640px;
    padding: 0 5px;
  }

  .pets__cards {
    flex: 0 1 50%;
    margin-bottom: 92px;
  }

  .pets__title-wrapper {
    padding: 8px 9px 9px 12px;
  }

  .pets__name {
    font-size: 0.779rem;
  }

  .pets__place {
    font-size: 0.731rem;
  }

  .pets__place_alig_1 {
    display: none;
  }

  .pets__place_alig_2 {
    display: block;
  }

  .banana {
    width: 26px;
    height: 29px;
  }

  .meat {
    width: 37px;
    height: 29px;
    margin-right: -3px;
  }

  .pets__arrow_left {
    left: 38.2%;
  }

  .pets__arrow_right {
    right: 38.2%;
  }

  .pets__arrow {
    top: -493px;
  }

  .pets__button {
    position: relative;
    top: -20px;
  }

  @-webkit-keyframes move-right {
		to {
			left: -700px;
		}
	}

  @keyframes move-right {
		to {
			left: -700px;
		}
	}

	@-webkit-keyframes move-left {
		to {
			left: 700px;
		}
	}

	@keyframes move-left {
		to {
			left: 700px;
		}
	}

}

@media screen and (max-width: 639px) {

  .pets {
    padding-bottom: 60px;
    background-image: url('../../assets/images/palm_foto_4.jpg'), url('../../assets/images/strelitzia1_3.jpg');
    background-size: 18%, 19%;
  }

  .pets__slider-wrapper,
  .pets__inner {
    width: 320px;
  }

  .pets__slider {
    margin-bottom: 0;
  }

  .pets__wrapper,
  .pets__wrapper_left,
  .pets__wrapper_right {
    min-width: 320px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .pets__cards {
    padding: 0 17px;
    margin: 0;
    flex: 0 1 100%;
  }

  .pets__arrow_left {
    background: url('../../assets/icons/pets_arrow-small.svg') no-repeat center center;
    transform: rotate(180deg);
    left: 10px;
  }

  .pets__arrow_right {
    background: url('../../assets/icons/pets_arrow-small.svg') no-repeat center center;
    right: 10px;
  }

  .pets__arrow {
    top: -240px;
  }

  .pets__arrow,
  .pets__arrow:hover,
  .pets__arrow:active {
    background-color: transparent;
    transition: none
  }

  .pets__name {
    line-height: 120%;
  }

  .pets__button {
    position: unset;
  }

  @-webkit-keyframes move-right {
		to {
			left: -380px;
		}
	}

  @keyframes move-right {
		to {
			left: -380px;
		}
	}

	@-webkit-keyframes move-left {
		to {
			left: 380px;
		}
	}

	@keyframes move-left {
		to {
			left: 380px;
		}
	}

}