@keyframes move-right {
	to {
		left: -1250px;
	}
}

@keyframes move-left {
	to {
		left: 1250px;
	}
}

.transition-right {
	animation-name: move-right;
	animation-duration: 1.5s;
}

.transition-left {
	animation-name: move-left;
	animation-duration: 1.5s;
}