.backstage {
  padding-top: 140px;
  background-image: url('../../assets/images/flower_foto1.jpg');
  background-repeat: no-repeat;
  background-position: right 10%;
  z-index: -1;
  padding-bottom: 177px;
}

.backstage__wrapper {
  width: 1160px;
  display: flex;
  gap: 87px;
  margin: 0 auto;
}

.backstage__img {
  min-width: 609px;
  height: 403px;
  background: url('../../assets/images/bamboo-cap.jpg') no-repeat center;
  background-size: cover;
}

.backstage__text {
  color: #333B41;
}
.backstage__title {
  line-height: 120%;
  font-size: 3rem;
  margin-bottom: 20px;
}

.backstage__p1 {
  line-height: 130%;
  margin-bottom: 54px;
}

.backstage__p2 {
  line-height: 120%;
  font-size: 1.5rem;
  margin-bottom: 34px;
}

.backstage__p3 {
  line-height: 140%;
}

@media screen and (max-width: 1440px) {
  .backstage {
    /* background-image: none; */
  }
}

@media screen and (max-width: 1280px) {

  .backstage {
    padding-top: 108px;
    padding-bottom: 142px;
  }

  .backstage__wrapper {
    width: 940px;
    gap: 31px;
  }

  .backstage__img {
    min-width: 455px;
    height: 408px;
  }

  .backstage__title {
    margin-bottom: 22px;
  }

  .backstage__text {
    margin-top: -10px;
  }

}

@media screen and (max-width: 999px) {

  .backstage {
    background-image: url('../../assets/images/flower_foto2.jpg');
    background-position: right -6%;
    padding-top: 69px;
    padding-bottom: 77px;
  }

  .backstage__wrapper {
    display: block;
    max-width: 640px;
  }

  .backstage__img {
    display: none;
  }

  .backstage__text {
    width: 490px;
    position: relative;
    left: 20px;
  }

  .backstage__title {
    padding-left: 5px;
  }

  .backstage__p1 {
    margin-bottom: 30px;
  }

  .backstage__p2 {
    padding-left: 5px;
    margin-bottom: 20px;
  }


}