.feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding: 70px 0 100px 0;
}

.feed__wrapper {
  width: 1160px;
  margin: 0 auto;
  color: #333B41;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding-bottom: 60px;
}

.feed__title {
  font-size: 3rem;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  padding-top: 40px;
  margin-bottom: 30px;
}

.feed__wrapper p {
  padding-left: 8.6%;
}

.feed__p1 {
  font-size: 1.5rem;
  line-height: 120%;
  margin-bottom: 41px;
}

.feed__p2 {
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 11px;
}

.feed__p3 {
  line-height: 130%;
  padding-right: 190px;
  margin-bottom: 60px;
}

.feed__p3 a {
  color: #333B41;
  text-decoration: none;
  border-bottom: 1px solid #FA6F32;
}

.feed__subtitle {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 40px;
  line-height: 130%;
}

.feed__container {
  display: flex;
  justify-content: space-between;
  padding: 0 17%;
  margin-bottom: 60px;
}

.feed__image {
  width: 168px;
  height: 168px;
  border-radius: 5px;
  border: 1px solid #FA6F32;
  -o-border-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-image-slice: 1;
  z-index: 1;
}

.feed__pay {
  background: url('../../assets/icons/pay.svg') no-repeat center center;
  background-color: #FFFFFF;
}

.feed__zoo {
  background: url('../../assets/icons/zoo.svg') no-repeat center center;
  background-color: #FFFFFF;
}

.feed__monkey {
  background: url('../../assets/icons/monkey.svg') no-repeat center center;
  background-color: #FFFFFF;
}

.feed__text {
  line-height: 140%;
  margin-top: 30px;
  width: 168px;
}

.feed__arrow {
  background: url('../../assets/icons/feed-arrow.svg') no-repeat center center;
  min-width: 70px;
  height: 158px;
}

.feed__button {
  width: 298px;
  height: 54px;
  background-color: #F9804B;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
	align-items: center;
  transition: 0.3s;
  margin: 0 auto;
}

.feed__button:hover {
  transform: scale(1.05);
  background: #E47209;
  transition: all 0.4s ease;
}

.feed__button:active {
  transform: scale(1);
  background: #4B9200;
  transition: all 0.4s ease;
}

@media screen and (max-width: 1280px) {

  .feed {
    padding: 30px 0 50px 0;
  }
  .feed__wrapper {
    width: 940px;
    padding-bottom: 52px;
  }

  .feed__title {
    padding-top: 30px;
    margin-bottom: 20px;
  }

  .feed__wrapper p {
    padding-left: 5.2%;
  }

  .feed__p1 {
    margin-bottom: 23px;
  }

  .feed__p2 {
    padding-right: 76px;
  }

  .feed__p3 {
    padding-right: 76px;
    margin-bottom: 40px;
  }

  .feed__subtitle {
    margin-bottom: 37px;
  }

  .feed__container {
    padding: 0 9.3%;
    margin-bottom: 70px;
  }
}