body {
  font-family: 'Roboto';
}

header,
main,
footer {
  margin: 0 auto;
}

/* Header */

header {
  background: #000000;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.header__wrapper {
  width: 1160px;
  height: 80px;
  color: white;
  display: flex;
  justify-content: space-between;
	align-items: center;
  margin: 0 auto;
}

.header__title {
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  position: relative;
  transition: 0.3s;
}

.header__title::after {
  content: url('../../assets/icons/bamboo.png');
  position: absolute;
  top: 24px;
  left: 10px;
}

.header__title:hover,
.header__title:focus {
  transform: scale(1.1);
  transition: 0.3s;
}

.header__text {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2;
  margin: 3.55px 4.75px;
  color: #FFFFFF;
}

.header__nav {
  flex: 1 1 auto;
}

.header__list {
  display: flex;
  margin-left: 2px;
}

.header__item {
  margin-left: 58px;
}

.header__link,
.header__designed {
  display: block;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  transition: 0.3s;
  color: white;
}

.header__link:hover,
.header__link:focus,
.header__designed:hover,
.header__designed:focus {
  /* transform: scale(1.2); */
  transition: 0.3s;
  color: #FE9013;
}

.header__orange {
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

/* Watch */

.watch {
  height: 780px;
  background: url('../../assets/images/giant_panda.jpg') no-repeat center;
  background-size: cover;
  margin-top: -80px;
  padding-top: 80px;
}

.watch__ellipse {
  position: relative;
  width: 465px;
  height: 465px;
  left: calc(50% - 465px/2 + 239.5px);
  top: 12px;
  border-radius: 50%;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}

.watch__text {
  position: relative;
  width: 500px;
  left: calc(50% - 500.31px/2 + 330.15px);
  top: -380px;
  font-weight: 700;
  font-size: 6.66em;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  user-select: none;
}

.watch__text span {
  color: #FFEE2E;
}

.watch__button {
  margin-top: 20px;
  position: relative;
  width: 298px;
  height: 54px;
  left: calc(50% - 298px/2 + 332px);
  top: -340px;
  background-color: #F9804B;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
	align-items: center;
  transition: all 0.4s ease;
}

.watch__button:hover {
  transform: scale(1.05);
  background: #E47209;
  transition: all 0.4s ease;
}

.watch__button:active {
  transform: scale(1);
  background: #4B9200;
  transition: all 0.4s ease;
}

/* Backstage */

.backstage {
  padding-top: 140px;
  background-image: url('../../assets/images/flower_foto1.png');
  background-repeat: no-repeat;
  background-position: right 10%;
  z-index: -1;
}

.backstage__wrapper {
  width: 1160px;
  display: flex;
  gap: 87px;
  margin: 0 auto;
}

.backstage__img {
  height: 403px;
  flex: 0 1 250%;
  background: url('../../assets/images/bamboo-cap.jpg') no-repeat center;
  background-size: cover;
  margin-bottom: 180px;
}

.backstage__text {
  color: #333B41;
}
.backstage__title {
  line-height: 120%;
  font-size: 3rem;
  margin-bottom: 20px;
}

.backstage__p1 {
  line-height: 130%;
  margin-bottom: 54px;
}

.backstage__p2 {
  line-height: 120%;
  font-size: 1.5rem;
  margin-bottom: 34px;
}

.backstage__p3 {
  line-height: 140%;
}

/* Pets */

.pets {
  background-image: url('../../assets/images/palm_foto.png'), url('../../assets/images/strelitzia1.png');
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
	align-content: center;
  padding-bottom: 100px;
}

.pets__wrapper {
  width: 1190px;
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
  margin: 0 -15px 60px -15px;
  position: relative;
}

.pets__cards {
  flex: 0 1 33.333%;
  padding: 0 15px;
}

.pets__border {
  border-radius: 5px;
  border: 1px solid #FA6F32;
  border-image-slice: 1;
  margin-bottom: 20px;
}

.pets__frame {
  overflow: hidden;
}

.pets__image {
  position: relative;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  transition: 0.7s;
}

.pets__image:hover {
  transform: scale(1.055);
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.pets__cards:hover .pets__title,
.pets__cards:hover .pets__ico {
  transform: translateY(-150%);
  transition: 0.7s;
  color: #FFFFFF;
}

.pets__cards:hover .pets__title-wrapper {
  background: #00000050;
  transition: 0.7s;
  z-index: 10;
}

.pandas {
  background: url('../../assets/images/foto-card1-panda.jpg') no-repeat center;
}

.eagles {
  background: url('../../assets/images/foto-card2-eagle.jpg') no-repeat center;
}

.gorillas {
  background: url('../../assets/images/foto-card3-gorilla.jpg') no-repeat center;
}

.sloth {
  background: url('../../assets/images/foto-card5-sloth.jpg') no-repeat center;
}

.cheetahs {
  background: url('../../assets/images/foto-card6-cheetah.jpg') no-repeat center;
}

.penguins {
  background: url('../../assets/images/foto-card7-penguin.jpg') no-repeat center;
}

.pets__title-wrapper {
  padding: 8px 10px 12px 15px;
  color: #000000;
  transition: 0.7s;
}

.pets__title-shadow {
  display: flex;
  justify-content: space-between;
}

.pets__title {
  transition: 0.7s;
}

.pets__name {
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: -1px;
}

.pets__place {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}

.pets__ico {
  width: 33px;
  height: 37px;
  transition: 0.7s;
}

.banana {
  background: url('../../assets/icons/banana-bamboo_icon.svg') no-repeat center;
  background-size: cover;
}

.meat {
  background: url('../../assets/icons/meet-fish_icon.svg') no-repeat center;
  background-size: cover;
}

.pets__arrow_left {
  position: absolute;
  background: url('../../assets/icons/pets_arrow-left.svg') no-repeat center center;
  left: -5.5%;
}

.pets__arrow_right {
  position: absolute;
  background: url('../../assets/icons/pets_arrow-right.svg') no-repeat center center;
  right: -5.5%;
}

.pets__arrow {
  background-color: #F9804B;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: calc(50% - 42px);
  cursor: pointer;
  transition-duration: 0.4s;
}

.pets__arrow:hover {
  transform: scale(1.10);
  transition: all 0.4s ease;
}

.pets__arrow:active {
  transform: scale(1);
  background-color: #4B9200;
  transition: all 0.4s ease;
}

.pets__button {
  width: 298px;
  height: 54px;
  background-color: #F9804B;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
	align-items: center;
  transition: 0.3s;
  margin: 0 auto;
}

.pets__button:hover {
  transform: scale(1.05);
  background: #E47209;
  transition: all 0.4s ease;
}

.pets__button:active {
  transform: scale(1);
  background: #4B9200;
  transition: all 0.4s ease;
}

/* Feed */

.feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding: 70px 0 100px 0;
}

.feed__wrapper {
  width: 1160px;
  margin: 0 auto;
  color: #333B41;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding-bottom: 60px;
}

.feed__title {
  font-size: 3rem;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
  padding-top: 40px;
  margin-bottom: 30px;
}

.feed__p1 {
  font-size: 1.5rem;
  line-height: 120%;
  margin-bottom: 41px;
  padding-left: 100px;
}

.feed__p2 {
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 11px;
  padding-left: 100px;
}

.feed__p3 {
  line-height: 130%;
  margin-bottom: 60px;
  padding-left: 100px;
}

.feed__p3 a {
  color: #333B41;
  text-decoration: none;
  border-bottom: 1px solid #FA6F32;
}

.feed__subtitle {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 40px;
  line-height: 130%;
}

.feed__container {
  display: flex;
  justify-content: space-between;
  padding: 0 200px;
  margin-bottom: 60px;
}

.feed__image {
  width: 168px;
  height: 168px;
  border-radius: 5px;
  border: 1px solid #FA6F32;
  -o-border-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-image-slice: 1;
  z-index: 1;
}

.feed__pay {
  background: url('../../assets/icons/pay.svg') no-repeat center center;
  background-color: #FFFFFF;
}

.feed__zoo {
  background: url('../../assets/icons/zoo.svg') no-repeat center center;
  background-color: #FFFFFF;
}

.feed__monkey {
  background: url('../../assets/icons/monkey.svg') no-repeat center center;
  background-color: #FFFFFF;
}

.feed__text {
  line-height: 140%;
  margin-top: 30px;
  width: 168px;
}

.feed__arrow {
  background: url('../../assets/icons/feed-arrow.svg') no-repeat center center;
  min-width: 70px;
  height: 158px;
}

.feed__button {
  width: 298px;
  height: 54px;
  background-color: #F9804B;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
	align-items: center;
  transition: 0.3s;
  margin: 0 auto;
}

.feed__button:hover {
  transform: scale(1.05);
  background: #E47209;
  transition: all 0.4s ease;
}

.feed__button:active {
  transform: scale(1);
  background: #4B9200;
  transition: all 0.4s ease;
}

/* Testimonial */

.testimonial {
  padding-top: 140px;
  background-image: url('../../assets/images/leav_foto.png');
  background-repeat: no-repeat;
  background-position: right 126%;
  z-index: -1;
  padding-bottom: 180px;
}

.testimonial__container {
  width: 1160px;
  margin: 0 auto;
}

.testimonial__hover {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 40px;
  line-height: 130%;
  color: #333B41;
  margin-bottom: 47px;
}


.testimonial__wrapper {
  width: 1190px;
  display: flex;
	justify-content: center;
  margin: 0 -15px 20px -15px;
  position: relative;
}

.testimonial__cards {
  flex: 0 1 25%;
  padding: 0 15px;
}

.testimonial__border {
  background: #F1F3F2;
  border-radius: 20px;
  /* width: 268px; */
  height: 391px;
  position: relative;
  padding: 15px 15px 20px 15px;
}

.testimonial__border::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 24px;
  z-index: -1;
}

.testimonial__info {
  display: flex;
  padding-bottom: 10px;
}

.testimonial__photo {
  background: url('../../assets/icons/user_icon.png');
  width: 37px;
  height: 37px;
}

.photo_1 {
  background: url('../../assets/icons/user_1.jpg');
}

.photo_2 {
  background: url('../../assets/icons/user_2.jpg');
}

.photo_3 {
  background: url('../../assets/icons/user_3.jpg');
}

.testimonial__title {
  padding-left: 10px;
}
.testimonial__name {
  line-height: 120%;
  /* or 19px */
  color: #000000;
}

.testimonial__local {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
  position: relative;
}

.testimonial__local span {
  margin-right: 1rem;
}

.testimonial__local:after {
  content: "•";
  position: absolute;
  width: .5rem;
  height: 1.8rem;
  bottom: -1.7rem;
  left: 6rem;
  transform: translate(-50%, -50%);
}

.testimonial__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}

.testimonial__input {
  display: block;
  width: 100%;
  max-width: 599px;
  height: 8px;
  background: #F5F7F6;
  margin: 0 auto;
  /* border: 0.5px solid #FEBDAB; */
  border-radius: 5px;
  transition: ease-in-out .5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 32px;
  position: relative;
}

.testimonial__input::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -0.5px;
  left: -0.5px;
  right: -0.5px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  border-radius: 6px;
  z-index: -1;
}

.testimonial__input::-webkit-slider-thumb {
  max-width: 115px;
  height: 8px;
  width: 100%;
  border-radius: 5px;
  background-color: #f9804b;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.testimonial__button {
  width: 298px;
  height: 54px;
  background-color: #F9804B;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
	align-items: center;
  transition: 0.4s;
}

.testimonial__button:hover {
  transform: scale(1.05);
  background: #E47209;
  transition: all 0.4s ease;
}

.testimonial__button:active {
  transform: scale(1);
  background: #4B9200;
  transition: all 0.4s ease;
}

/* Footer */

footer {
  background: #111115;
  height: 443px;
  z-index: -10;
}
.footer__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 40px 0 50px 0;
  display: flex;
  justify-content: space-between;
}

/* .footer__column {
  flex: 0 1 33.333%;
} */

.footer__logo {
  display: inline-block;
  margin-bottom: 66px;
}

.footer__button {
  width: 298px;
  height: 54px;
  background-color: #F9804B;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
	align-items: center;
  transition: 0.4s;
}

.footer__button:hover {
  transform: scale(1.05);
  background: #E47209;
  transition: all 0.4s ease;
}

.footer__button:active {
  transform: scale(1);
  background: #4B9200;
  transition: all 0.4s ease;
}

.footer__social {
  margin-top: 46px;
}

.footer__social_wrapper {
  display: flex;
}

.footer__social_item {
  margin-bottom: 10px;
  transition: 0.4s;
}

.footer__social_item:last-child {
  margin-bottom: 0;
}

.footer__social_item:hover {
  transform: scale(1.05);
  transition: 0.4s;
}

.footer__social_item:active {
  transform: scale(1);
  transition: 0.4s;
}

.footer__social_logo {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.facebook {
  background: url('../../assets/icons/facebook_ico.svg') no-repeat center center;
  background-color: rgba(196, 196, 196, 0.5);
  transition: all 0.4s ease;
}

.twitter {
  background: url('../../assets/icons/twitter_ico.svg') no-repeat center center;
  background-color: rgba(196, 196, 196, 0.5);
  transition: all 0.4s ease;
}

.instagram {
  background: url('../../assets/icons/instagram_ico.svg') no-repeat center center;
  background-color: rgba(196, 196, 196, 0.5);
  transition: all 0.4s ease;
}

.youtube {
  background: url('../../assets/icons/youtube_ico.svg') no-repeat center center;
  background-color: rgba(196, 196, 196, 0.5);
  transition: all 0.4s ease;
}

.footer__social_name {
  color: #FFFFFF;
  padding-left: 12px;
  line-height: 26px;
  transition: all 0.4s ease;
}

.footer__social_item:active .footer__social_name {
  color: #4B9200;
  transition: all 0.4s ease;
}

.footer__social_item:active .facebook,
.footer__social_item:active .twitter,
.footer__social_item:active .instagram,
.footer__social_item:active .youtube {
  background-color: #4B9200;
  transition: all 0.4s ease;
}

.footer__nav {
  display: flex;
  align-items: flex-end;
}

.footer__list {
  padding-bottom: 5px;
}

.footer__item {
  margin-left: 62px;
}

.footer__column_third {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer__column h3 {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 120%;
  margin-bottom: 14px;
}

.footer__container {
  display: flex;
  gap: 10px;
  flex: 1 1 auto;
}

.footer__input {
  display: block;
  width: 228px;
  height: 42px;
  border: 1px solid transparent;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  box-shadow: inset 0px 0px 0px 100vw #111115;
  border-radius: 5px;
  transition: ease-in-out .5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 1;
  padding: 0 10px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  color: #FFFFFF;
}

.footer__input::-webkit-input-placeholder {

  color: #BDBDBD;
}

.footer__input::-moz-placeholder {

  color: #BDBDBD;
}

.footer__input:-ms-input-placeholder {

  color: #BDBDBD;
}

.footer__input::-ms-input-placeholder {

  color: #BDBDBD;
}

.footer__input::placeholder {

  color: #BDBDBD;
}

.footer__input:focus {
  color: #4b9200;
  border-color: #4b9200
}

.footer__input:invalid {
  color: #d31414;
  border-color: #d31414
}

.footer__submit {
  width: 129px;
  height: 42px;
  /* line-height: 42px; */
  color: #333B41;
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  transition: 0.4s;
}

.footer__submit:active {
  transform: scale(1.05);
  transition: 0.4s;
  color: #4B9200;
  border: 1px solid #4B9200;
}

.footer__input:invalid ~ .footer__submit {
  color: #d31414;
  border-color: #d31414;
}

.footer__info {
  font-weight: 100;
  color: #FFFFFF50;
  padding-bottom: 5px;
  transition: 0.4s;
}

.footer__info:hover {
  color: #4B9200;
  transition: 0.4s;
}

.footer__design {
  margin-bottom: 10px;
  text-align: end;
  padding: 0 5px 5px 0;
}

.footer__right {
  text-align: end;
}