@media screen and (max-width: 1280px) {

  .donate__welcome {
    height: 390px;
    margin-right: -254px;
  }

  .donate__container {
    width: 940px;
  }

  .donate {
    padding: 42px 0 30px 0;
  }

  .donate__title {
    text-align: left;
    padding-right: 100px;
  }

  .donate__p1 {
    margin: 0 -18px 60px -18px;
  }

  .donate__wrapper {
    width: 940px;
  }

  .donate__title {
    margin-bottom: 28px;
  }

  .donate__hover {
    margin-bottom: 40px;
  }

  .donate__wrapper {
    width: 940px;
    padding: 20px 65px 48px 65px;
  }

  .donate__subtitle {
    margin-left: -15px;
    margin-bottom: 12px;
  }

  .donate__diet {
    padding-right: 20px;
  }

  .donate__diet_amount-text {
    padding-left: 0;
  }

  form #donate__amount-slider::before {
    width: calc(100% * (7 / 8) - 10px);
  }

  form #donate__amount-slider label:first-of-type {
    display: none;
  }

  form #donate__amount-slider input:checked:nth-child(3) ~ #donate__amount-pos {
    left: 7.143%;
  }

  form #donate__amount-slider input:checked:nth-child(5) ~ #donate__amount-pos {
    left: 21.429%;
  }

  form #donate__amount-slider input:checked:nth-child(7) ~ #donate__amount-pos {
    left: 35.714%;
  }

  form #donate__amount-slider input:checked:nth-child(9) ~ #donate__amount-pos {
    left: 50%;
  }

  form #donate__amount-slider input:checked:nth-child(11) ~ #donate__amount-pos {
    left: 64.286%;
  }

  form #donate__amount-slider input:checked:nth-child(13) ~ #donate__amount-pos {
    left: 78.571%;
  }

  form #donate__amount-slider input:checked:nth-child(15) ~ #donate__amount-pos {
    left: 92.857%
  }

  form #donate__amount-slider label::before {
    left: 55%;
  }

  .donate__radio-wrapper {
    margin-right: 16px;
  }
}