footer {
  background: #111115;
  height: 443px;
  z-index: -10;
}
.footer__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 40px 0 50px 0;
  display: flex;
  justify-content: space-between;
}

/* .footer__column {
  flex: 0 1 33.333%;
} */

.footer__logo {
  margin-top: -2px;
  display: inline-block;
  margin-bottom: 68px;
}

.footer__title {
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  position: relative;
  transition: 0.3s;
  width: 82px;
  height: 52px;
  text-align: center;
  display: inline-block;
  margin-bottom: 68px;
}

.footer__title::after {
  content: url('../../assets/icons/bamboo.png');
  position: absolute;
  top: 24px;
  left: 10px;
}

.footer__title:hover,
.footer__title:focus {
  /* transform: scale(1.1); */
  transition: 0.3s;
}

.footer__text {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #FFFFFF;
}

.footer__button {
  width: 298px;
  height: 54px;
  background-color: #F9804B;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
	align-items: center;
  transition: 0.4s;
}

.footer__button:hover {
  /* transform: scale(1.05); */
  background: #E47209;
  transition: all 0.4s ease;
}

.footer__button:active {
  /* transform: scale(1); */
  background: #4B9200;
  transition: all 0.4s ease;
}

.footer__social {
  margin-top: 46px;
}

.footer__social_wrapper {
  display: flex;
}

.footer__social_item {
  margin-bottom: 10px;
  transition: 0.4s;
}

.footer__social_item:last-child {
  margin-bottom: 0;
}

.footer__social_item:hover {
  /* transform: scale(1.05); */
  transition: 0.4s;
}

.footer__social_item:active {
  /* transform: scale(1); */
  transition: 0.4s;
}

.footer__social_logo {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.facebook {
  background: url('../../assets/icons/facebook_ico.svg') no-repeat center center;
  background-color: rgba(196, 196, 196, 0.5);
  transition: all 0.4s ease;
}

.twitter {
  background: url('../../assets/icons/twitter_ico.svg') no-repeat center center;
  background-color: rgba(196, 196, 196, 0.5);
  transition: all 0.4s ease;
}

.instagram {
  background: url('../../assets/icons/instagram_ico.svg') no-repeat center center;
  background-color: rgba(196, 196, 196, 0.5);
  transition: all 0.4s ease;
}

.youtube {
  background: url('../../assets/icons/youtube_ico.svg') no-repeat center center;
  background-color: rgba(196, 196, 196, 0.5);
  transition: all 0.4s ease;
}

.footer__social_name {
  color: #FFFFFF;
  padding-left: 12px;
  line-height: 26px;
  transition: all 0.4s ease;
}

.footer__social_item:hover .footer__social_name {
  color: #E47209;
  transition: all 0.4s ease;
}

.footer__social_item:hover .facebook,
.footer__social_item:hover .twitter,
.footer__social_item:hover .instagram,
.footer__social_item:hover .youtube {
  background-color: #E47209;
  transition: all 0.4s ease;
}

.footer__social_item:active .footer__social_name {
  color: #4B9200;
  transition: all 0.4s ease;
}

.footer__social_item:active .facebook,
.footer__social_item:active .twitter,
.footer__social_item:active .instagram,
.footer__social_item:active .youtube {
  background-color: #4B9200;
  transition: all 0.4s ease;
}

.footer__column_second {
  display: flex;
  align-items: flex-end;
}

.footer__nav {
  flex: 1 1 auto;
  padding-left: 3px;
}

.footer__list {
  padding-bottom: 5px;
  margin-left: 0;
  display: flex;
}

.footer__item {
  margin-left: 60px;
}

.footer__column_third {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer__column h3 {
  color: #FFFFFF;
  font-size: 1.5rem;
  line-height: 120%;
  margin-bottom: 14px;
}

.footer__container {
  display: flex;
  gap: 10px;
  flex: 1 1 auto;
}

.footer__input {
  display: block;
  width: 228px;
  height: 42px;
  border: 1px solid transparent;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  box-shadow: inset 0px 0px 0px 100vw #111115;
  border-radius: 5px;
  transition: ease-in-out .5s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  z-index: 1;
  padding: 0 10px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  color: #FFFFFF;
}

.footer__input::-webkit-input-placeholder {

  color: #BDBDBD;
}

.footer__input::-moz-placeholder {

  color: #BDBDBD;
}

.footer__input:-ms-input-placeholder {

  color: #BDBDBD;
}

.footer__input::-ms-input-placeholder {

  color: #BDBDBD;
}

.footer__input::placeholder {

  color: #BDBDBD;
}

.footer__input:focus {
  color: #4b9200;
  border-color: #4b9200
}

.footer__input:invalid {
  color: #d31414;
  border-color: #d31414
}

.footer__submit {
  width: 129px;
  height: 42px;
  color: #333B41;
  background: #F1F3F2;
  border: 1px solid #333B41;
  border-radius: 5px;
  transition: 0.4s;
  font-size: 1.05rem;
}

.footer__submit:active {
  /* transform: scale(1.05); */
  transition: 0.4s;
  color: #4B9200;
  border: 1px solid #4B9200;
}

.footer__input:invalid ~ .footer__submit {
  color: #d31414;
  border-color: #d31414;
}

.footer__info {
  font-weight: 100;
  color: #FFFFFF50;
  padding-bottom: 5px;
  transition: 0.4s;
}

.footer__info:hover {
  color: #4B9200;
  transition: 0.4s;
}

.footer__design {
  margin-bottom: 10px;
  text-align: end;
  padding: 0 5px 5px 0;
}

.footer__right {
  text-align: end;
}

@media screen and (max-width: 1280px) {

  .footer__wrapper {
    width: 940px;
  }

  .footer__nav {
    padding-left: 0;
    margin-right: -70px;
  }

  .footer__item {
    margin-left: 48px;
  }

  .footer__item:first-child {
    margin-left: 0px;
  }

  .footer__container,
  .footer__column h3 {
    position: relative;
    left: -9%;
  }

  .footer__info {
    position: relative;
  }

}

@media screen and (max-width: 999px) {

  .footer__wrapper {
    width: 640px;
    padding: 40px 20px 50px 20px;
  }

  .footer__column_first,
  .footer__column_second,
  .footer__column_third {
    position: relative;
  }

  .footer__nav {
    padding-left: 0;
    margin: 0;
    position: absolute;
    width: 340px;
    left: -195px;
    bottom: -35px;
  }

  .footer__column_third {
    margin-left: -100px;
  }

}

@media screen and (max-width: 640px) {

  footer {
    height: 282px;
  }

  .footer__wrapper {
    width: 640px;
    padding: 12px 20px;
    flex-direction: column;
  }

  .footer__title {
    margin-bottom: 34px;
  }

  .footer__column {
    width: 100%;
  }

  .footer__social {
    position: absolute;
    top: -20%;
    right: 0;
  }

  .footer__social_item {
    margin-bottom: 21px;
  }

  .footer__social_name,
  .footer__column_third h3,
  .footer__container {
    display: none;
  }

  .footer__button {
    margin-bottom: 100px;
  }

  .footer__nav {
    margin: 0;
    left: 0;
    bottom: -22px;
  }

  .footer__item {
    margin-left: 37px;
  }

  .footer__info {
    position: absolute;
    right: 0;
    bottom: -23px;
  }

  .footer__column_third {
    margin-left: 0;
  }
}

@media screen and (max-width: 320px) {

  footer {
    height: 334px;
    overflow: hidden;
  }

  .footer__wrapper {
    width: 320px;
    padding: 20px 0;
  }

  .footer__title {
    border: none;
    width: auto;
    margin-bottom: 57px;
    left: 96px;
  }

  .footer__title::after {
    top: -2px;
    left: 72px;
  }

  .footer__button {
    margin-left: 9px;
  }

  .footer__social {
    display: flex;
    gap: 30px;
    top: 7px;
    left: 63px;
  }

  .footer__nav {
    left: 21px;
    bottom: -33px;
    width: auto;
  }

  .footer__item {
    margin-left: 30px;
  }

  .footer__info {
    font-size: 0.9375rem;
    right: 10px;
    bottom: 18px;
    /* color: #FFFFFF; */
  }

}