@media screen and (max-width: 1280px) {

  .donate__welcome {
    height: 390px;
    background-position: bottom 0px left -173px;
  }

  /* .donate__container {
    width: 940px;
  } */

  .donate {
    padding: 42px 30px 30px 30px;
  }

  .donate__title {
    text-align: left;
    padding-right: 100px;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .donate__p1 {
    margin: 0 -18px 58px -18px;
  }

  .donate__hover {
    margin-bottom: 40px;
  }

  .donate__wrapper {
    /* width: 940px; */
    padding: 20px 65px 50px 65px;
  }

  .donate__subtitle {
    margin-left: -15px;
    margin-bottom: 12px;
  }

  .donate__diet {
    overflow: hidden;
  }

  .donate__diet_amount-text {
    padding-left: 0;
    margin-bottom: 18px;
  }

  .donate__radio-wrapper {
    margin-right: 16px;
    margin-bottom: 28px;
  }

  .donate__label:nth-child(2) {
    display: none;
  }

  .donate__label:nth-child(2) span {
    left: 1px;
  }

  .donate__label:nth-child(4) span {
    left: 7px;
  }

  .donate__label:nth-child(6) span {
    left: 6px;
  }

  .donate__label:nth-child(8) span {
    left: 0px;
  }

  .donate__label:nth-child(10) span {
    left: 0px;
  }

  .donate__label:nth-child(12) span {
    left: 0px;
  }

  .donate__label:nth-child(14) span {
    left: -8px;
  }

  .donate__label:nth-child(16) span {
    left: -8px;
  }

  .donate__amount-slider {
    width: 104%;
    left: -2%;
  }

  .donate__amount-slider span {
    padding-left: 25px;
  }

}

@media screen and (max-width: 999px) {

  .donate__welcome {
    height: 335px;
    background-position: bottom 0px left -273px;
  }

  .donate {
    padding: 29px 0 45px 0;
  }

  .donate__container {
    /* width: 640px; */
    padding: 0 20px;
  }

  .donate__title {
    font-size: 1.5rem;
    padding-right: 0;
    margin-bottom: 19px;
  }

  .donate__text {
    line-height: 136%;
    margin-bottom: 30px;
  }

  .donate__hover {
    margin-bottom: 30px;
  }

  .donate__wrapper {
    /* width: 600px; */
    padding: 30px 0 35px 0;
    margin: 0 20px;
  }

  .donate__subtitle {
    margin-left: 0;
    margin-bottom: 23px;
  }

  .donate__p1 {
    margin: 0 0 50px 0;
    text-align: center;
  }

  .donate__diet {
    margin: 0 0 40px -14px;
  }

  .donate__diet_amount-text {
    padding-left: 10px;
    margin-bottom: 7px;
  }

  .donate__amount-slider {
    width: 97.8%;
    left: 1%;
  }

  .donate__amount-slider::before {
    width: 92%;
  }

  .donate__label:nth-child(4),
  .donate__label:nth-child(6) {
    display: none;
  }

  .donate__amount-slider span {
    padding-left: 12px;
  }

  .donate__input {
    width: 180px;
    height: 42px;
    padding: 16px 9px 16px 5px;
    margin-bottom: 30px;
  }

  .donate__radio-wrapper {
    margin-right: 19px;
  }

  .donate__button {
    left: 0;
    padding-left: 6px;
  }

  .donate__p2 {
    padding-left: 0;
  }

  /* #radio5 input {
    opacity: 1;
  } */

}

/* Add temp marker */

/* @media screen and (max-width: 999px) {

  .donate__amount-slider input[id="radio3"] + .donate__label::after {
    opacity: 0;
  }

  .donate__label:nth-child(6) span {
    color: #333b41;
  }

  .donate__amount-slider input[id="radio6"] + .donate__label::after {
    opacity: 1;
  }

  .donate__label:nth-child(12) span {
    color: #FE9013;
  }

} */

@media screen and (max-width: 768px) {

  .donate__amount-slider::before {
    width: 90%;
  }

}

@media screen and (max-width: 640px) {

  .donate__welcome {
    margin-top: 34px;
  }

}

@media screen and (max-width: 639px) {

  .donate {
    padding: 29px 0 21px 0;
  }

  .donate__welcome {
    height: 187px;
    background-position: bottom right;
  }

  .donate__container {
    /* width: 320px; */
    padding: 0 10px;
    margin: 0 auto;
  }

  .donate__title {
    line-height: 122%;
    margin-bottom: 20px;
  }

  .donate__text {
    line-height: 138%;
    margin-bottom: 27px;
  }

  .donate__hover {
    font-size: 1.5rem;
  }

  .donate__wrapper {
    /* width: 300px; */
    padding: 21px 0 23px 0;
    margin: 0 10px;
  }

  .donate__subtitle {
    font-size: 1.5rem;
    margin-bottom: 9px;
  }

  .donate__p1 {
    font-size: 1rem;
    line-height: 140%;
    margin: 0 0 9px 0;
  }

  .donate__diet {
    margin: 0 0 4px 0px;
    gap: 5px;
    /* width: 300px; */
  }

  .donate__diet_text {
    padding-top: 22px;
  }

  .donate__diet_quote {
    font-size: 2.538rem;
    line-height: 3.1rem;
  }

  .donate__diet_animal {
    font-size: 0.564rem;
    width: 90px;
  }

  .donate__diet_x {
    background: url('../../assets/icons/x_icon_small.svg') no-repeat left;
    width: 32px;
    height: 14px;
    margin-top: 16px;
  }

  .donate__diet_img {
    background: url('../../assets/icons/panda_widget2.svg');
    width: 160px;
    height: 139px;
    margin-left: 7px;
  }

  .donate__diet_amount-text {
    padding-left: 0;
    margin-bottom: 8px;
  }

  .form-wrapper {
    height: 14px;
    padding: 2px 30px 2px 30px;
    margin-bottom: 9px;
    /* overflow: hidden; */
  }

  .donate__amount-slider {
    /* width: 108.4%;
    left: -13px; */
    top: 5px;
  }

  .donate__amount-slider::before {
    width: 88.4%;
    top: 2px
  }

  .donate__label {
    font-size: 13px;
    line-height: 0;
  }

  .donate__label:nth-child(8) span {
    left: -4px;
  }

  .donate__label:nth-child(10) span {
    left: -4px;
  }

  .donate__label:nth-child(12) span {
    left: -4px;
  }

  .donate__label:nth-child(14) span {
    left: -7px;
  }

  .donate__label:nth-child(16) span {
    left: -7px;
  }

  .donate__label::before {
    width: 5px;
    height: 5px;
  }

  .donate__label::after {
    top: -2px;
    background-size: 50%;
  }

  .donate__input {
    margin-bottom: 25px;
  }

  .donate__radio-wrapper {
    margin-bottom: 27px;
  }

  .donate__p2 {
    margin-right: -1px;
  }

}

@media screen and (max-width: 540px)  {

  .donate__welcome {
    height: 187px;
    background-position: bottom 0px left -149px;
  }

  .donate__amount-slider::before {
    width: 86.2%;
  }

}

@media screen and (max-width: 480px)  {

  .donate__label {
    width: 40px;
  }

  .donate__label::after {
    left: 1%;
  }

  .donate__amount-slider {
    width: 100%;
    left: -1px;
    top: 4px;
  }

  .donate__amount-slider::before {
    width: 90%;
  }

  .donate__label:nth-child(16) span {
    left: -12px;
  }

}

@media screen and (max-width: 390px)  {

  .donate__amount-slider::before {
    width: 88%;
  }

  .donate__label:nth-child(16) span {
    left: -8px;
  }

}

@media screen and (max-width: 338px)  {

  .donate__amount-slider::before {
    width: 86%;
  }

}