body {
  font-family: 'Roboto';
}

header,
main,
footer {
  max-width: 1600px;
  margin: 0 auto;
}

/* Header */

header {
  height: 80px;
  color: white;
  background: #000000;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-between;
	align-items: center;
  padding: 0 220px;
}

.header__title {
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  margin-right: 58px;
}

.header__logo {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.2;
  margin: 3.55px 4.75px;
}

.header__nav {
  flex: 1 1 auto;
}

.header__list {
  display: flex;
  gap: 58px
}

.header__link,
.header__designed {
  display: block;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  transition: 0.3s;
  color: white;
}


.header__link:hover,
.header__link:focus {
  transform: scale(1.2);
  transition: 0.3s;
  color: orange;
}

.header__link:active {
  font-weight: 700;
  transition: 0.3s;
}



